# Python virtual environments 
.venv/ 
venv/ 
env/ 
# Byte-compiled / cache files 
__pycache__/ 
*.py[cod] 
*$py.class 
# Distribution / packaging 
build/ 
dist/ 
*.egg-info/ 
.pytest_cache/ 
dex-venv/ 
.venv/ 
