# Only @team-infra can modify the .gitlab-ci.yml file. Please reach out to them for any changes.
[team-infra][1] @ananda.das @jeremythomson @greg.markey @jim.mccoy1 @james.bowe @mark.hingston2 @adriaan.meeling @adrianc_au
CODEOWNERS
.gitlab-ci.yml
Dockerfile
Dockerfile.ts
Dockerfile.deepbook
container/run


# The dex_proxy exchange whitelists file needs to be approved by one of the following people
[exchange-address-approvers][1] @james.bowe @mark.hingston2 @greg.markey @chris.duck @nitul.datt
/resources/
